#section2{
    padding: 2% 15%;
    text-align: center;
}
#section3{
    padding: 2% 15%;
    text-align: center;
}
#section4{
    margin-top: 2%;
    padding: 1.5% 3%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.heading{
    font-family: 'Montserrat', sans-serif;
font-weight: 700;
    margin: 3% auto;
    text-align: center;
    letter-spacing: 3px;
}
.navbar{
    padding: 1.5%;
}
.navbar-brand{
    font-size: 2.25em;
    font-weight: bold;
}
.nav-item{
    font-size: 1.05em;

}

.button {
    margin: 20px auto;
    width: 180px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight:700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  button:focus{
    outline: none;
}
  .button1 {
    margin: 20px auto;
    width: 200px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight:700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

  .button1:hover {
    background-color: #ec5541;
    box-shadow: 0px 15px 20px rgb(243, 195, 181);
    color: #fff;
    transform: translateY(-7px);
  }

@media only screen and (max-width:900px) {
    #section2{
        padding: 0% 5%;
        text-align: center;
        margin: 3% auto;
    }
}