#section2{
    margin: 8% auto;
    padding: 0;
    
}

#section4{
    padding: 1.5% 3%;
    text-align: center;
    background-color: black;
    color: white;
}
h2{
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}
input:focus {
    background-color: rgb(3, 3, 3);
  }
  .submitbut {
    margin: 10px auto;
    width: 190px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight:700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .submitbut:hover {
    background-color: #35b7f3;
    box-shadow: 0px 15px 20px rgba(153, 232, 243, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button1 {
    margin: 20px auto;
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight:700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button1:hover {
    background-color: #ec5541;
    box-shadow: 0px 15px 20px rgb(243, 195, 181);
    color: #fff;
    transform: translateY(-7px);
  }
.option{
    width: 80%;
    font-size: 16px;
}
.navbar{
    padding: 1.5%;
}
.navbar-brand{
    font-size: 1.75em;
}
.nav-item{
    font-size: 1.05em;

}
.formcont{
    height: 300px;
    padding:10% 4.5%;
    background-color: rgb(110, 103, 103);
    color: blanchedalmond;
}